* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #3E3E3E;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.interactive {
  cursor: pointer;
  user-select: none;
  
  &:hover {
    color: lightgray;
    border-color: lightgray;
  }
}

.card {
  background-color: #353535;
  padding: 26px;
  margin-inline: auto;

  width: fit-content;
  border-radius: 4px;
}