//TODO: add header height variable

.header {
  padding-inline: 25px;
  position: fixed;
  display: flex;

  width: 100vw;
  background-color: #262626;
  height: 75px;

  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  gap: 15px;

  cursor: pointer;
  user-select: none;

  img {
    width: 50px;
    height: 50px;
  }

  h1 {
    font-family: 'Inria Sans', sans-serif;
    font-size: 30px;
  }
}

.navigation {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 100%;
}

.spacer {
  width: 100vw;
  height: 75px;
}